<h1>client-list </h1>

<table>
 
    <tr>
      <th>Company</th>
      <th>Contact</th>
      <th>Country</th>
      <th>Country</th>
    </tr>
  <tr>
   
   <td> <a routerlink="./client-details">Alfreds Futterkiste</a></td>
    <td>Maria Anders</td>
    <td>Germany</td>
    <td>Germany</td>
    
  </tr>
  <tr>
    <td>Centro comercial </td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
    <td>Mexico</td>
    

  </tr>
  <tr>
    <td>Centro comercial </td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
    <td>Mexico</td>
    

  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
    <td>Mexico</td>
    

  </tr>
</table>
<a routerLink="./client-details">client-details</a>

